<footer class="footer">
  <section id="text" class="container">
  </br>
  </br>
    <div class="bottom-row">
        <div class="col-md-12">
          <h2>Made Possible By: </h2>
        </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
        <img style="max-width:350px; max-height:300px;" src="http://i.imgur.com/Nn6VsWF.png" id="footerpic">
      </div>
      <div class="col-md-6">
        <img style="max-width:350px; max-height:300px;" src="http://i.imgur.com/K3ph2tS.png" id="footerpic">
      </div>
    </div>
</section>
</br>
</br>
</br>
</br>
</br>
</br>

  <div id="foot" class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Contact Full Sight</h1>
        
        <h3>@</h3>
        
        <h3>chansd5[at]gmail.com</h3>
      </div>
    </div>
  </div> 
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</footer>