<h1>COOKING</h1>

<section class="article">
        <h1>CHOCOLATE CAKE RECIPE</h1>
        <p class="byline">Directions</p>
        <p>1. Heat oven to 350°F. Grease and flour two 9-inch round baking pans.</p>

	<p>2.<span id = "test1" class="highlight">Stir together sugar, flour, cocoa, baking powder, baking soda and salt in large bowl.</span> Add eggs, milk, oil and vanilla; beat on medium speed of mixer 2 minutes. Stir in boiling water (batter will be thin). Pour batter into prepared pans.</p>

	<p>3. Bake 30 to 35 minutes or until wooden pick inserted in center comes out clean. Cool 10 minutes; remove from pans to wire racks. Cool completely. Frost with "PERFECTLY CHOCOLATE" CHOCOLATE FROSTING. Makes 12 servings.</p>
 </section>