<h1>LONGFORM</h1>

<section class="article">
        <h1>This Old Man</h1>
        <p class="byline">by Roger Angell</p>
        <p>Like many men and women my age, <span id = "test1" class="highlight">I get around with a couple of arterial stents that keep my heart chunking.</span> I also sport a minute plastic seashell that clamps shut a congenital hole in my heart, discovered in my early eighties. The surgeon at Mass General who fixed up this PFO (a patent foramen ovale—I love to say it) was a Mexican-born character actor in beads and clogs, and a fervent admirer of Derek Jeter.</p>
</section>