<h1>NEWS</h1>

<section class="article">
        <h1>Chronicle of a Riot Foretold</h1>
        <p class="byline">by Jelani Cobb</p>
        <p>FERGUSON, Missouri—For a hundred and eight days, through the suffocating heat that turned the city into a kiln, through summer thunderstorms and the onset of an early winter, through bureaucratic callousness and the barbs of cynics who held that the effort was of no use and the prickly fear that they might be right, a community in Ferguson, Missouri, held vigil nightly, driven by the need to validate a simple principle: black lives matter. On November 24, 2014, we learned that they do indeed matter, just less than others—less than the prerogatives of those who wield power here, less than even the cynics may have suspected.</p>

	<p><span id = "test1" class="highlight">Last night, the streets of Ferguson were congested with smoke and anger and disillusionment and disbelief</span>, and also with batons and the malevolent percussion of gunfire and the hundreds of uniformed men brought here to marshal and display force. Just after eight on Monday evening, after a rambling dissertation from the St. Louis County Prosecutor, Robert McCulloch, that placed blame for tensions on social media and the twenty-four-hour news cycle, and ended with the announcement that the police officer Darren Wilson would not be indicted for shooting Michael Brown six times, the crowd that gathered in front of the police headquarters, on South Florissant Road, began to swell.</p>
</section>