<h1>UNION</h1>

<section class="article">
        <h1>In State of the Union Address, Obama Vows to Act Alone on the Economy</h1>
        <p class="byline">by Peter Baker</p>
        <p>WASHINGTON — After five years of fractious political combat, <span id = "test1" class="highlight">President Obama declared independence from Congress on Tuesday as he vowed to tackle economic disparity with a series of limited initiatives on jobs, wages and retirement that he will enact without legislative approval.</span></p>
	<p>Promising “a year of action” as he tries to rejuvenate a presidency mired in low approval ratings and stymied by partisan stalemates, Mr. Obama used his annual State of the Union address to chart a new path forward relying on his own executive authority. But the defiant “with or without Congress” approach was more assertive than any of the individual policies he advanced.</p>
	<p>“I’m eager to work with all of you,” a confident Mr. Obama told lawmakers of both parties in the 65-minute nationally televised speech in the House chamber. “But America does not stand still — and neither will I. So wherever and whenever I can take steps without legislation to expand opportunity for more American families, that’s what I’m going to do.”</p>
</section>