.jumbotron {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("http://i.imgur.com/jygXUzP.jpg") no-repeat center;
    background-position: 55% 70%;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-repeat: no-repeat;
    background-color: #333333;
    height: 600px;
    max-width: 100%;
}   